header {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  position: fixed;
  top: 0;
  background-color: #fff;
}

.navbar-brand {
  width: 70%;
}

.navbar-brand img {
  height: 140px;
}

.nav-link {
  flex: 1 1 25%;
  font-size: 1.11em;
  font-weight: 500;
}

.nav-link:hover {
  color: var(--main-color-green);
  text-decoration: underline;
  text-underline-offset: 15px;
  text-decoration-color: var(--secondary-color-blue);
}

.nav-item {
  flex: 1 1 25%;
  box-sizing: border-box;
  text-align: end;
}

.dropdown-item:hover {
  background-color: var(--dropdown-item-bg-color);
}

.book-appointment-btn {
  background-color: var(--main-color-green);
  color: #fff;
  font-weight: bold;
}

.book-appointment-btn:hover {
  background-color: var(--darker-main-green);
  color: #fff;
}

@media (min-width: 477px) {
  .navbar-brand {
    width: inherit;
  }
}

@media (min-width: 992px) {
  .nav-item:hover {
    background-color: none;
  }
}

@media (max-width: 991px) {
  header {
    height: 113px;
  }
  .home-section {
    margin-top: -50px;
  }

  .navbar-brand img {
    margin-left: -17px;
    height: 100px;
  }

  .navbar-collapse {
    background-color: #fff;
  }

  .nav-item:hover {
    background-color: var(--dropdown-item-bg-color);
  }

  .navbar-toggler {
    margin-right: -17px;
  }
}

