.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  width: 40%;
  height: 60%;
  top: 10%;
  left: 30%;
  right: 30%;
  background-color: rgb(232, 227, 227); /* Semi-transparent black background */
  overflow: auto;
  border-radius: 20px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}

.modal-overlay {
  position: fixed;
  top: 10%;
  left: 40%;
  right: 40%;
  width: 20%;
  height: 5%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
}

.modal-overlay.show {
  display: block;
}

/* Confirmation window styling */
.confirmation-window {
  position: fixed;
  top: 40%;
  left: 40%;
  right: 35%;
  background-color: #fff;
  z-index: 999;
  width: 30%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  font-weight: 500;
  border: 6px solid #91d5b53d;
}

.modal-label-container {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.modal-label {
  width: 40%;
}

.modal-input {
  width: 60%;
}

.day-container {
  gap: 10px;
}

.day-width {
  width: 30%;
}
.buttons-container {
  display: flex;
  justify-content: end;
  margin-left: auto;
  gap: 5px;
}

.buttons-container button {
  background-color: var(--main-color-green);
  border: none;
}

.buttons-container button:hover {
  background-color: var(--darker-main-green);
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

/* WebKit-based browsers (Chrome, Safari) */
.modal::-webkit-scrollbar {
  width: 12px; 
}

.modal::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 10px;
}

.modal::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px;
}

.modal::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* Firefox 
.modal {
  scrollbar-width: thin; 
  scrollbar-color: #888 #f1f1f1; 
}  */
